@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.text {
  font-family: "Work Sans", sans-serif;
}

.heading {
  font-size: 3rem;
  font-family: "Work Sans", sans-serif !important;
  font-weight: 600;
  text-shadow: -2px 2.7px 5px #660bf8;
}

@media all and (min-width: 800px) {
  .heading {
    line-height: 1rem;
  }
}

.description {
  font-size: 1.3rem;
  font-family: "Work Sans", sans-serif !important;
}

.top_container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}